.header {
  padding: 0 20px;
  height: 80px;
}

.btn {
  display: flex;
  padding: 5px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn > .btnNumber {
  margin-left: 2px;
}

.navList {
  margin: 0;
  padding: 0;
}

.navList > li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 120px;
  margin: 0;
  cursor: pointer;
}
